@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital@1&display=swap');

.hero
{
    height: 30em;
    background: url(https://media.pri.org/s3fs-public/styles/w2304/public/images/2020/03/health-coronavirus-southkorea.jpg?itok=Het1ElZm) no-repeat center;
    background-size: cover;
    position: relative;
    object-fit: cover;

}
p{
 
  size: 10px;
}
.tint
{
    content: '';
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
    background: rgba(0, 77, 100, .6);
}
.claim
{
  color:#dbdbdb;
  font-size:2.5em;
  padding: 22% 7em 0 2em;
  position: relative;
 
}
.container2 {
  background: #dde1e7;
  padding: 25px;
  border-radius: 3px;
  box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288);
}

